## 파이썬 기초 3

### 문자열

In [5]:
x = int(input("정수를 입력하시오: "))
y = int(input("정수를 입력하시오: "))

print(x+y)

300

In [7]:
메시지 = "축하합니다."

In [8]:
print(메시지)

축하합니다.

In [9]:
메시지 * 3

'축하합니다.축하합니다.축하합니다.'

In [11]:
강조 = "정말"

In [12]:
강조 + 메시지

'정말축하합니다.'

In [24]:
s = "Monty Python"

In [25]:
# 인덱싱
s

'Monty Python'

In [26]:
s [0]

'M'

In [27]:
s [6]

'P'

In [28]:
s[0] + s[1] + s[10] + s[11]

'Moon'

In [31]:
# 슬라이싱 0~2(0번째를 포함하여 2번째 전까지)
s[0:2] + s[10:12]

'Moon'

In [32]:
s[-1]

'n'

In [6]:
print("안녕하세요?")
이름 = input("이름이 어떻게 되시나요?")
print("만나서 반갑습니다." + 이름 + "씨")
print("이름의 길이는 다음과 같군요." + str(len(이름)))
나이 = int(input("나이가 어떻게 되시나요?"))
print("내년이면" + str(나이+1) + "살이 되시는 군요")

안녕하세요?
만나서 반갑습니다.1씨
이름의 길이는 다음과 같군요.1
내년이면2살이 되시는 군요

In [43]:
과목 = ["영어","수학","사회","과학"]

In [44]:
과목

['영어', '수학', '사회', '과학']

In [45]:
과목.append("체육")

In [46]:
과목

['영어', '수학', '사회', '과학', '체육']

In [47]:
과목.append("경제")

In [48]:
과목

['영어', '수학', '사회', '과학', '체육', '경제']

In [49]:
과목.append("미술")

In [50]:
과목

['영어', '수학', '사회', '과학', '체육', '경제', '미술']

In [51]:
과목[3]

'과학'

In [52]:
del 과목[3]

In [53]:
과목

['영어', '수학', '사회', '체육', '경제', '미술']

In [38]:
친구목록 = []
친구 = input("친구의 이름을 입력하시오: ")
친구목록.append(친구)
친구 = input("친구의 이름을 입력하시오: ")
친구목록.append(친구)
친구 = input("친구의 이름을 입력하시오: ")
친구목록.append(친구)
print(친구목록)

['홍길동', '임꺽정', '전우치']

In [41]:
del 친구목록[1]

In [42]:
친구목록

['홍길동', '전우치']