# 파이썬 데이터 분석 2주차
## 파이썬 기본1

- 어느 가을 날의 꿈의대학에 왔다.
- 나는 누구인가? 여기는 어디인가?

- 1.파이썬 설치 
- 2.파이썬 기본1

In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print("이정우 입니다")

이정우 입니다

In [6]:
123+456

579

In [4]:
123*456

56088

In [5]:
prin("안녕")

NameError: name 'prin' is not defined

In [7]:
print("강아지")

강아지

In [8]:
print('강아지')

강아지

In [9]:
print('I'm a boy, you are a girl')

SyntaxError: invalid syntax (<ipython-input-9-8a97ea3aaf87>, line 1)

In [11]:
print("더하기의 신" , 2345 + 5678,"입니다")

더하기의 신 8023 입니다

In [12]:
print(1+6)

7

In [13]:
print("1"+"6")

16

In [14]:
print("반가워요", "반가워요", "반가워요")

반가워요 반가워요 반가워요

In [16]:
print("반가워요" * 30)

반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요반가워요

In [17]:
print("안녕하세요? 여러분")

안녕하세요? 여러분

In [24]:
print("9*8은", 9*8, "입니다.")

9*8은 72 입니다.

In [25]:
x = 100

In [26]:
x

100

In [27]:
y = 200

In [28]:
y

200

In [29]:
x + y

300

In [30]:
더하기 = x + y

In [31]:
더하기

300

In [33]:
z = 400

In [38]:
sum = x + y + z

In [39]:
sum

700

In [40]:
이름 = "김찬혁"
학교 = "칠보고"

In [43]:
print(이름)

김찬혁

In [44]:
print(학교)

칠보고

In [45]:
print("제 이름은", 이름, "이고, 학교는", 학교, "입니다")

제 이름은 김찬혁 이고, 학교는 칠보고 입니다

In [46]:
score = 10

In [47]:
score = score + 1

In [48]:
score

11